{% extends 'base.html' %}
<!--  -->
{% block content %}

<h1>{{ pet.name }}</h1>

{% if pet.photo_url %}
<img class="img-fluid" src="{{ pet.photo_url }}" />
{% endif %}

<h2>Update</h2>

<span
  ><form method="POST">
    {% include "_form.html" %}
    <button class="btn btn-primary" type="submit">Update</button>
  </form>
</span>
<span
  ><form
    method="POST"
    action="{{ url_for('delete_pet', pet_id=pet.id) }}"
    onsubmit="return confirm('Are you sure you want to delete this pet?');"
  >
    <button type="submit" class="btn btn-danger">Delete Pet</button>
  </form></span
>
{% endblock %}
